[submodule "vim/.vim/pack/allpackages/start/vim-exchange"]
	path = vim/.vim/pack/allpackages/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vim/.vim/pack/allpackages/start/lightline.vim"]
	path = vim/.vim/pack/allpackages/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/.vim/pack/allpackages/start/vim-multiple-cursors"]
	path = vim/.vim/pack/allpackages/start/vim-multiple-cursors
	url = https://github.com/ninrod/vim-multiple-cursors.git
[submodule "vim/.vim/pack/allpackages/start/fzf"]
	path = vim/.vim/pack/allpackages/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/pack/allpackages/start/vim-visual-star-search"]
	path = vim/.vim/pack/allpackages/start/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
[submodule "vim/.vim/pack/allpackages/start/auto-pairs"]
	path = vim/.vim/pack/allpackages/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/.vim/pack/allpackages/start/vim-repeat"]
	path = vim/.vim/pack/allpackages/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/pack/allpackages/start/easymotion"]
	path = vim/.vim/pack/allpackages/start/easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim/.vim/pack/allpackages/start/vim-textobj-xmlattr"]
	path = vim/.vim/pack/allpackages/start/vim-textobj-xmlattr
	url = https://github.com/whatyouhide/vim-textobj-xmlattr.git
[submodule "vim/.vim/pack/allpackages/start/supertab"]
	path = vim/.vim/pack/allpackages/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/.vim/pack/allpackages/start/targets.vim"]
	path = vim/.vim/pack/allpackages/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "vim/.vim/pack/allpackages/start/vim-go"]
	path = vim/.vim/pack/allpackages/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/pack/allpackages/start/vim-easy-align"]
	path = vim/.vim/pack/allpackages/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/.vim/pack/allpackages/start/gruvbox"]
	path = vim/.vim/pack/allpackages/start/gruvbox
	url = https://github.com/ninrod/gruvbox.git
[submodule "vim/.vim/pack/allpackages/start/vim-surround"]
	path = vim/.vim/pack/allpackages/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/allpackages/start/sxhkd-vim"]
	path = vim/.vim/pack/allpackages/start/sxhkd-vim
	url = https://github.com/kovetskiy/sxhkd-vim
[submodule "vim/.vim/pack/allpackages/start/tmuxline.vim"]
	path = vim/.vim/pack/allpackages/start/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "vim/.vim/pack/allpackages/start/ale"]
	path = vim/.vim/pack/allpackages/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/.vim/pack/allpackages/start/vim-commentary"]
	path = vim/.vim/pack/allpackages/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/pack/allpackages/start/vim-wordmotion"]
	path = vim/.vim/pack/allpackages/start/vim-wordmotion
	url = https://github.com/chaoren/vim-wordmotion.git
[submodule "vim/.vim/pack/allpackages/start/rainbow"]
	path = vim/.vim/pack/allpackages/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim/.vim/pack/allpackages/start/vim-textobj-entire"]
	path = vim/.vim/pack/allpackages/start/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vim/.vim/pack/allpackages/start/vim-textobj-user"]
	path = vim/.vim/pack/allpackages/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
